[submodule "MP-SPDZ"]
	path = MP-SPDZ
	url = https://github.com/mrnerdhair/MP-SPDZ
[submodule "tls_garble"]
	path = tls_garble
	url = https://github.com/mrnerdhair/tls_garble
[submodule "crunch"]
	path = crunch
	url = https://github.com/mrnerdhair/crunch.git
[submodule "crunch2"]
	path = crunch2
	url = https://github.com/mrnerdhair/crunch.git
